// INFO: COLORS
$color-yellow: #ffc03d;
$color-grey: #5a6170;
$color-red: #ee4540;
$color-green: #43d681;
$color-white: #fff;
$beige-color: #e5d1b8;
$color-grey-shadow: rgba(90, 97, 112, 0.5);

// INFO: WIDTH SIZE
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// INFO: border
$border-radius: 19px;
