// INFO: COLORS
$color-yellow: #ffc03d;
$color-grey: #5a6170;
$color-red: rgb(238, 68, 63);
$color-red-shadow: rgba(238, 68, 63, 0.15);
$color-green: #43d681;
$color-light-green: #02febf;
$color-acid-green: #5cff9c;
$color-light-green-transparent: rgba(2, 254, 191, 0.5);
$color-white: #fff;
$color-crema: #f9f5f0;
// $color-crema-transparent: rgba(229, 209, 184, 0.9);
$color-crema-transparent: rgba(217, 176, 140, 0.9);
$beige-color: #e5d1b8;
$color-grey-shadow: rgba(90, 97, 112, 0.15);
$color-text: #26344f;

// INFO: WIDTH SIZE
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// INFO: border
$border-radius: 19px;
$border-radius-soft: 5px;
$border-top-width: 6px;
