.va-avatar {
  border: 2px solid $color-white;
}

.border-top-green {
  border-radius: $border-radius !important;
  border-top: 6px solid $color-green !important;
}
.va-navbar {
  border-radius: $border-radius;
  margin-top: -0.99em;
}

.va-modal_inner {
}
