.va-card-title {
  font-size: 1em !important;
  justify-content: center !important;
}

.card-main-layer {
  border-radius: $border-radius !important;
}

.card-main-layout-success {
  border-top: 7.5px solid $color-green;
}
