.container-choice-history {
  margin: 2em 1.5em;
  background-color: $color-grey-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card-stories {
  margin: 1em 1em;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 1em;
}

.container-header-profile {
  height: 21em;
}

.container-empty {
  width: 100%;
  position: absolute;
  top: 39%;
}

.container-cards {
  padding-top: 1em;
  padding-bottom: 1em !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .container-card-stories {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
}

.empty-stories-container {
  margin-top: 2em;
}

.preview-story-container {
  margin: 1em 2em;
}

.preview-story-content {
  display: flex;
  justify-content: space-around;
}

.pagination-container {
  margin-top: 1em;
}

// .story-chema-container {
//   max-width: 10em;
//   max-height: 10em;
// }

.story-image-container > img {
  width: 30em;
  height: 20em;
}

.story-description-block-container {
  width: 33.5em;
}

.rotate-0-deg {
  rotate: 0deg;
  transition: rotate 0.5s;
}

.rotate-180-deg {
  rotate: 180deg;
  transition: rotate 0.5s;
}

.info-user-container {
  display: flex;
  flex-direction: column;
}

.hover-container {
  background-color: $color-white;
}

.hover-container:hover > * {
  background-color: $color-grey-shadow !important;
}

.user-progress-container .n-progress-graph-line-rail {
  background-color: rgba(53, 53, 53, 0.5) !important;
}

.user-progress-container .n-progress-icon {
  font-weight: bold;
}
.user-progress-container .n-progress-graph-line-fill {
  background-color: $color-acid-green !important;
}

.stats-block-container {
  width: 40em;
  height: 60em;
}

.user-profile-content-container {
  margin-right: 3em;
  padding-right: 2em;
  padding-left: 2em;
}
