.primary-font-color {
  color: $color-text;
}

.font-color-white {
  color: $color-white;
}

.font-header-card {
  font-size: calc(1em + 0.8vmin);
  font-weight: bold;
}

.font-bold {
  font-weight: bold;
}

.font-red {
  color: $color-red;
}
