.icon-layout-pagination {
  justify-content: center;
  background-color: $color-white !important;
  border-radius: 7px;
  padding: 0.2em;
  width: 2em;
  height: 2em;
}

.icon-right-arrow {
  rotate: 180deg;
}

