.profile_role {
  margin-left: 0.5em;
  font-size: 0.9em;
}

.profile-sidebar-row-border {
  border-left: 6px solid $color-red;
  border-radius: 10px;
  padding: 0.5em 0.3em;
  // margin-left: -1em;
  margin-right: 0.5em;
}

.profile-sidebar-row-text {
  font-size: 1.15em;
  font-weight: bold;
}

.profile-sidebar-row-container {
  cursor: pointer;
}

.router-link-active {
  background-color: $color-grey-shadow !important;
}

.profile-sidebar-link {
  margin-bottom: 1.5em !important;
  cursor: pointer;
  z-index: -2;
  margin-top: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.profile-sidebar-link:hover {
  background-color: $color-red-shadow;
  border-radius: 7px;
}

.img-header-profile {
  display: flex;
  height: 30em;
  width: 100%;
  border-radius: $border-radius;
  margin-right: 3em;
  padding-right: 2em;
  padding-left: 2em;
  background-repeat: no-repeat;
  align-items: center;
}

.profile-story-box {
  cursor: pointer;
  margin: 1em !important;
  border: 10px solid $color-white;
  transition: border 0.8s 0.02s;
  border-radius: 10px;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.profile-story-img {
  position: absolute;
  width: 20em;
  height: 12em;
}

.profile-story-box > span {
  display: flex;
  align-items: end;
  z-index: 2;
  color: $color-crema;
  font-weight: bold;
}

.profile-story-box:hover {
  border: 10px solid $color-green;
}

.shiny-hover {
  -webkit-mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.shiny-hover:hover {
  transition: mask-position 3s ease, -webkit-mask-position 3s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}

.profile-bg-add-story {
  background-color: $color-white;
}
