.choice-history {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.history-content__wrapper {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.history-content__wrapper > * {
  width: 30vw;
}
