@import 'utils/vars';
@import 'common/button';
@import 'common/border';
@import 'common/modal';
@import 'common/card';
@import 'common/wrapper';
@import 'common/codemirror';
@import 'common/navbar';
@import 'common/sidebar';
@import 'common/profile';
@import 'common/mainlayout';
@import 'common/database';
@import 'common/font';
@import 'common/image';
@import 'common/container';
@import 'common/layout';
@import 'common/icon';

body {
  color: $color-text;
}
